<table class="tufte-table">
<thead>
<tr>
<th>State</th>
<th>International Exports (2023)</th>
<th>International Imports (2023)</th>
<th>Trade Balance (International)</th>
<th>Domestic Exports (2022–2023)</th>
<th>Domestic Trade Balance</th>
</tr>
</thead>
<tbody>
<tr class="tufte-table tr odd-row">
<td style = "text-align: left;">Connecticut</td>
<td>$15.8B (goods) + $15B (services)</td>
<td>$21.4B (goods)</td>
<td>-$5.6B (goods)</td>
<td>$25.2B (estimated)</td>
<td>+$3.8B</td>
</tr>
<tr>
<td style = "text-align: left;">Maine</td>
<td>$3.4B (goods)</td>
<td>$18.4B (goods)</td>
<td>-$15.0B</td>
<td>$97.7B</td>
<td>+$79.3B</td>
</tr>
<tr class="tufte-table tr odd-row">
<td style = "text-align: left;">Massachusetts</td>
<td>$35.2B (goods) + $15B (services)</td>
<td>$51.2B (goods)</td>
<td>-$16.3B (goods)</td>
<td>$48.1B (estimated)</td>
<td>+$12.9B</td>
</tr>
<tr>
<td style = "text-align: left;">New Hampshire</td>
<td>$7.6B (goods)</td>
<td>$9.5B (estimated)</td>
<td>-$1.9B</td>
<td>$4.8B (estimated)</td>
<td>+$2.9B</td>
</tr>
<tr class="tufte-table tr odd-row">
<td style = "text-align: left;">Rhode Island</td>
<td>$3.0B (goods) + $2.2B (services)</td>
<td>$18.4B (goods)</td>
<td>-$12.4B (goods)</td>
<td>$5.1B (estimated)</td>
<td>-$7.3B</td>
</tr>
<tr>
<td style = "text-align: left;">Vermont</td>
<td>$1.2B (estimated)</td>
<td>$1.7B (estimated)</td>
<td>-$0.5B</td>
<td>$3.5B (estimated)</td>
<td>+$1.8B</td>
</tr>
</tbody>
</table>

