<table class="tufte-table">
  <thead>
    <tr class="tufte-table tr header headerLastRow">
      <th style = "text-align: left;">State</th>
      <th style = "text-align: right;">Births</th>
      <th style = "text-align: right;">Deaths</th>
      <th style = "text-align: right;">Natural Growth</th>
      <th style = "text-align: right;">Domestic Migration</th>
      <th style = "text-align: right;">International Migration</th>
      <th style = "text-align: right;">Net Growth</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Kentucky</td>
      <td style = "text-align: right;">51,830</td>
      <td style = "text-align: right;">57,053</td>
      <td style = "text-align: right;">-5,223</td>
      <td style = "text-align: right;">14,215</td>
      <td style = "text-align: right;">27,761</td>
      <td style = "text-align: right;">36,753</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Tennessee</td>
      <td style = "text-align: right;">82,973</td>
      <td style = "text-align: right;">84,989</td>
      <td style = "text-align: right;">-2,016</td>
      <td style = "text-align: right;">22,749</td>
      <td style = "text-align: right;">27,204</td>
      <td style = "text-align: right;">47,937</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">West Virginia</td>
      <td style = "text-align: right;">16,403</td>
      <td style = "text-align: right;">27,507</td>
      <td style = "text-align: right;">-11,104</td>
      <td style = "text-align: right;">978</td>
      <td style = "text-align: right;">3,573</td>
      <td style = "text-align: right;">-6,553</td>
    </tr>
    <tr class="tufte-table tr"><td style = "font-weight: bold; text-align: left;">Total</td>
      <td style = "font-weight: bold; text-align: right;">151,206</td>
      <td style = "font-weight: bold; text-align: right;">169,549</td>
      <td style = "font-weight: bold; text-align: right;">-18,343</td>
      <td style = "font-weight: bold; text-align: right;">37,942</td>
      <td style = "font-weight: bold; text-align: right;">58,538</td>
      <td style = "font-weight: bold; text-align: right;">78,137</td>
    </tr>
  </tbody>
</table>
