<table class="tufte-table">
  <thead>
    <tr class="tufte-table tr header headerLastRow">
      <th style = "text-align: left;">State</th>
      <th style = "text-align: right;">Births</th>
      <th style = "text-align: right;">Deaths</th>
      <th style = "text-align: right;">Natural Growth</th>
      <th style = "text-align: right;">Domestic Migration</th>
      <th style = "text-align: right;">International Migration</th>
      <th style = "text-align: right;">Net Growth</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Colorado</td>
      <td style = "text-align: right;">61,475</td>
      <td style = "text-align: right;">46,787</td>
      <td style = "text-align: right;">14,688</td>
      <td style = "text-align: right;">21,293</td>
      <td style = "text-align: right;">35,910</td>
      <td style = "text-align: right;">57,203</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Idaho</td>
      <td style = "text-align: right;">22,377</td>
      <td style = "text-align: right;">17,162</td>
      <td style = "text-align: right;">5,215</td>
      <td style = "text-align: right;">16,738</td>
      <td style = "text-align: right;">9,400</td>
      <td style = "text-align: right;">26,138</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Montana</td>
      <td style = "text-align: right;">11,069</td>
      <td style = "text-align: right;">11,684</td>
      <td style = "text-align: right;">-615</td>
      <td style = "text-align: right;">-47</td>
      <td style = "text-align: right;">2,597</td>
      <td style = "text-align: right;">2,550</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Utah</td>
      <td style = "text-align: right;">45,016</td>
      <td style = "text-align: right;">21,886</td>
      <td style = "text-align: right;">23,130</td>
      <td style = "text-align: right;">-3,486</td>
      <td style = "text-align: right;">27,776</td>
      <td style = "text-align: right;">24,290</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Wyoming</td>
      <td style = "text-align: right;">5,987</td>
      <td style = "text-align: right;">5,905</td>
      <td style = "text-align: right;">82</td>
      <td style = "text-align: right;">82</td>
      <td style = "text-align: right;">2,353</td>
      <td style = "text-align: right;">2,435</td>
    </tr>
    <tr class="tufte-table tr"><td style = "font-weight: bold; text-align: left;">Total</td>
      <td style = "font-weight: bold; text-align: right;">145,924</td>
      <td style = "font-weight: bold; text-align: right;">103,424</td>
      <td style = "font-weight: bold; text-align: right;">42,500</td>
      <td style = "font-weight: bold; text-align: right;">34,580</td>
      <td style = "font-weight: bold; text-align: right;">78,036</td>
      <td style = "font-weight: bold; text-align: right;">112,616</td>
    </tr>
  </tbody>
</table>
