<table class="tufte-table">
  <thead>
    <tr class="tufte-table tr header headerLastRow">
      <th style = "text-align: left;">State</th>
      <th style = "text-align: right;">Births</th>
      <th style = "text-align: right;">Deaths</th>
      <th style = "text-align: right;">Natural Growth</th>
      <th style = "text-align: right;">Domestic Migration</th>
      <th style = "text-align: right;">International Migration</th>
      <th style = "text-align: right;">Net Growth</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Illinois</td>
      <td style = "text-align: right;">124,743</td>
      <td style = "text-align: right;">122,963</td>
      <td style = "text-align: right;">1,780</td>
      <td style = "text-align: right;">-93,247</td>
      <td style = "text-align: right;">97,862</td>
      <td style = "text-align: right;">4,615</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Indiana</td>
      <td style = "text-align: right;">78,856</td>
      <td style = "text-align: right;">75,368</td>
      <td style = "text-align: right;">3,488</td>
      <td style = "text-align: right;">29,773</td>
      <td style = "text-align: right;">30,115</td>
      <td style = "text-align: right;">59,888</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Michigan</td>
      <td style = "text-align: right;">99,055</td>
      <td style = "text-align: right;">110,499</td>
      <td style = "text-align: right;">-11,444</td>
      <td style = "text-align: right;">-20,415</td>
      <td style = "text-align: right;">56,357</td>
      <td style = "text-align: right;">35,942</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Ohio</td>
      <td style = "text-align: right;">126,785</td>
      <td style = "text-align: right;">138,209</td>
      <td style = "text-align: right;">-11,424</td>
      <td style = "text-align: right;">1,060</td>
      <td style = "text-align: right;">56,978</td>
      <td style = "text-align: right;">58,038</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Pennsylvania</td>
      <td style = "text-align: right;">126,757</td>
      <td style = "text-align: right;">147,181</td>
      <td style = "text-align: right;">-20,424</td>
      <td style = "text-align: right;">-34,935</td>
      <td style = "text-align: right;">73,871</td>
      <td style = "text-align: right;">38,936</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Wisconsin</td>
      <td style = "text-align: right;">59,719</td>
      <td style = "text-align: right;">60,590</td>
      <td style = "text-align: right;">-871</td>
      <td style = "text-align: right;">14,853</td>
      <td style = "text-align: right;">20,895</td>
      <td style = "text-align: right;">35,748</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "font-weight: bold; text-align: left;">Total</td>
      <td style = "font-weight: bold; text-align: right;">615,915</td>
      <td style = "font-weight: bold; text-align: right;">654,810</td>
      <td style = "font-weight: bold; text-align: right;">-38,895</td>
      <td style = "font-weight: bold; text-align: right;">-102,911</td>
      <td style = "font-weight: bold; text-align: right;">336,078</td>
      <td style = "font-weight: bold; text-align: right;">233,167</td>
    </tr>
  </tbody>
</table>
