<table class="tufte-table">
  <thead>
    <tr class="tufte-table tr header headerLastRow">
      <th style = "text-align: left;">Nation</th>
      <th style = "text-align: right;">GDP per capita</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Concordia</td>
      <td style = "text-align: right;">96,468</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Cumberland</td>
      <td style = "text-align: right;">54,787</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Deseret</td>
      <td style = "text-align: right;">67,296</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">New Dixie</td>
      <td style = "text-align: right;">57,234</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Factoria</td>
      <td style = "text-align: right;">61,418</td>
    </tr>
    <tr style="font-weight: bold;" class="tufte-table tr"><td style = "text-align: left;">Heartlandia</td>
      <td style = "text-align: right;">64,092</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">The Lone Star Republic</td>
      <td style = "text-align: right;">65,024</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Metropolis</td>
      <td style = "text-align: right;">77,874</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Pacifica</td>
      <td style = "text-align: right;">78,226</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">New Sonora</td>
      <td style = "text-align: right;">76,481</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">United States</td>
      <td style = "text-align: right;">68,194</td>
    </tr>
  </tbody>
</table>
