<table class="tufte-table">
  <thead>
    <tr class="tufte-table tr header headerLastRow">
      <th style = "text-align: left;">State</th>
      <th style = "text-align: right;">Births</th>
      <th style = "text-align: right;">Deaths</th>
      <th style = "text-align: right;">Natural Growth</th>
      <th style = "text-align: right;">Domestic Migration</th>
      <th style = "text-align: right;">International Migration</th>
      <th style = "text-align: right;">Net Growth</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Iowa</td>
      <td style = "text-align: right;">35,994</td>
      <td style = "text-align: right;">33,973</td>
      <td style = "text-align: right;">2,021</td>
      <td style = "text-align: right;">-1,856</td>
      <td style = "text-align: right;">17,122</td>
      <td style = "text-align: right;">15,266</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Kansas</td>
      <td style = "text-align: right;">34,056</td>
      <td style = "text-align: right;">31,551</td>
      <td style = "text-align: right;">2,505</td>
      <td style = "text-align: right;">-15,575</td>
      <td style = "text-align: right;">21,062</td>
      <td style = "text-align: right;">5,487</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Minnesota</td>
      <td style = "text-align: right;">61,671</td>
      <td style = "text-align: right;">51,222</td>
      <td style = "text-align: right;">10,449</td>
      <td style = "text-align: right;">-8,689</td>
      <td style = "text-align: right;">30,830</td>
      <td style = "text-align: right;">22,141</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Missouri</td>
      <td style = "text-align: right;">67,058</td>
      <td style = "text-align: right;">71,851</td>
      <td style = "text-align: right;">-4,793</td>
      <td style = "text-align: right;">8,091</td>
      <td style = "text-align: right;">23,901</td>
      <td style = "text-align: right;">31,992</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Nebraska</td>
      <td style = "text-align: right;">24,043</td>
      <td style = "text-align: right;">18,615</td>
      <td style = "text-align: right;">5,428</td>
      <td style = "text-align: right;">-69</td>
      <td style = "text-align: right;">12,907</td>
      <td style = "text-align: right;">12,838</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">North Dakota</td>
      <td style = "text-align: right;">9,614</td>
      <td style = "text-align: right;">7,041</td>
      <td style = "text-align: right;">2,573</td>
      <td style = "text-align: right;">13,601</td>
      <td style = "text-align: right;">7,113</td>
      <td style = "text-align: right;">20,714</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">South Dakota</td>
      <td style = "text-align: right;">11,198</td>
      <td style = "text-align: right;">9,016</td>
      <td style = "text-align: right;">2,182</td>
      <td style = "text-align: right;">591</td>
      <td style = "text-align: right;">2,172</td>
      <td style = "text-align: right;">2,763</td>
    </tr>
    <tr class="tufte-table tr"><td style = "font-weight: bold; text-align: left;">Total</td>
      <td style = "font-weight: bold; text-align: right;">243,634</td>
      <td style = "font-weight: bold; text-align: right;">223,269</td>
      <td style = "font-weight: bold; text-align: right;">20,365</td>
      <td style = "font-weight: bold; text-align: right;">-3,906</td>
      <td style = "font-weight: bold; text-align: right;">115,107</td>
      <td style = "font-weight: bold; text-align: right;">111,201</td>
    </tr>
  </tbody>
</table>
