<table class="tufte-table">
  <thead>
    <tr class="tufte-table tr header headerLastRow">
      <th style = "text-align: left;">State</th>
      <th style = "text-align: right;">Births</th>
      <th style = "text-align: right;">Deaths</th>
      <th style = "text-align: right;">Natural Growth</th>
      <th style = "text-align: right;">Domestic Migration</th>
      <th style = "text-align: right;">International Migration</th>
      <th style = "text-align: right;">Net Growth</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Delaware</td>
      <td style = "text-align: right;">10,396</td>
      <td style = "text-align: right;">11,351</td>
      <td style = "text-align: right;">-955</td>
      <td style = "text-align: right;">9,885</td>
      <td style = "text-align: right;">6,779</td>
      <td style = "text-align: right;">15,709</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Maryland</td>
      <td style = "text-align: right;">65,561</td>
      <td style = "text-align: right;">56,456</td>
      <td style = "text-align: right;">9,105</td>
      <td style = "text-align: right;">-36,090</td>
      <td style = "text-align: right;">46,472</td>
      <td style = "text-align: right;">19,487</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">New Jersey</td>
      <td style = "text-align: right;">100,943</td>
      <td style = "text-align: right;">81,490</td>
      <td style = "text-align: right;">19,453</td>
      <td style = "text-align: right;">-69,179</td>
      <td style = "text-align: right;">93,958</td>
      <td style = "text-align: right;">44,232</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">New York</td>
      <td style = "text-align: right;">203,126</td>
      <td style = "text-align: right;">173,944</td>
      <td style = "text-align: right;">29,182</td>
      <td style = "text-align: right;">-178,709</td>
      <td style = "text-align: right;">167,420</td>
      <td style = "text-align: right;">17,893</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Virginia</td>
      <td style = "text-align: right;">92,512</td>
      <td style = "text-align: right;">82,935</td>
      <td style = "text-align: right;">9,577</td>
      <td style = "text-align: right;">22,921</td>
      <td style = "text-align: right;">58,033</td>
      <td style = "text-align: right;">90,531</td>
    </tr>
    <tr class="tufte-table tr"><td style = "font-weight: bold; text-align: left;">Total</td>
      <td style = "font-weight: bold; text-align: right;">472,538</td>
      <td style = "font-weight: bold; text-align: right;">406,176</td>
      <td style = "font-weight: bold; text-align: right;">66,362</td>
      <td style = "font-weight: bold; text-align: right;">-251,172</td>
      <td style = "font-weight: bold; text-align: right;">372,662</td>
      <td style = "font-weight: bold; text-align: right;">187,852</td>
    </tr>
  </tbody>
</table>
