<table class="tufte-table">
  <thead>
    <tr class="tufte-table tr header headerLastRow">
      <th style = "text-align: left;">State</th>
      <th style = "text-align: right;">Births</th>
      <th style = "text-align: right;">Deaths</th>
      <th style = "text-align: right;">Natural Growth</th>
      <th style = "text-align: right;">Domestic Migration</th>
      <th style = "text-align: right;">International Migration</th>
      <th style = "text-align: right;">Net Growth</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Alabama</td>
      <td style = "text-align: right;">57,803</td>
      <td style = "text-align: right;">62,294</td>
      <td style = "text-align: right;">-4,491</td>
      <td style = "text-align: right;">19,758</td>
      <td style = "text-align: right;">18,239</td>
      <td style = "text-align: right;">33,506</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Florida</td>
      <td style = "text-align: right;">221,365</td>
      <td style = "text-align: right;">239,119</td>
      <td style = "text-align: right;">-17,754</td>
      <td style = "text-align: right;">126,008</td>
      <td style = "text-align: right;">303,868</td>
      <td style = "text-align: right;">412,122</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Georgia</td>
      <td style = "text-align: right;">125,046</td>
      <td style = "text-align: right;">102,342</td>
      <td style = "text-align: right;">22,704</td>
      <td style = "text-align: right;">59,968</td>
      <td style = "text-align: right;">63,323</td>
      <td style = "text-align: right;">145,995</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Mississippi</td>
      <td style = "text-align: right;">34,449</td>
      <td style = "text-align: right;">37,803</td>
      <td style = "text-align: right;">-3,354</td>
      <td style = "text-align: right;">2,777</td>
      <td style = "text-align: right;">10,307</td>
      <td style = "text-align: right;">9,730</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">North Carolina</td>
      <td style = "text-align: right;">119,744</td>
      <td style = "text-align: right;">112,923</td>
      <td style = "text-align: right;">6,821</td>
      <td style = "text-align: right;">106,592</td>
      <td style = "text-align: right;">64,940</td>
      <td style = "text-align: right;">178,353</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">South Carolina</td>
      <td style = "text-align: right;">57,688</td>
      <td style = "text-align: right;">61,052</td>
      <td style = "text-align: right;">-3,364</td>
      <td style = "text-align: right;">68,667</td>
      <td style = "text-align: right;">26,113</td>
      <td style = "text-align: right;">91,416</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "font-weight: bold; text-align: left;">Total</td>
      <td style = "font-weight: bold; text-align: right;">616,095</td>
      <td style = "font-weight: bold; text-align: right;">615,533</td>
      <td style = "font-weight: bold; text-align: right;">562</td>
      <td style = "font-weight: bold; text-align: right;">383,770</td>
      <td style = "font-weight: bold; text-align: right;">486,790</td>
      <td style = "font-weight: bold; text-align: right;">871,122</td>
    </tr>
  </tbody>
</table>
