<table class="tufte-table">
  <thead>
    <tr class="tufte-table tr header headerLastRow">
      <th style = "text-align: left;">State</th>
      <th style = "text-align: right;">Births</th>
      <th style = "text-align: right;">Deaths</th>
      <th style = "text-align: right;">Natural Growth</th>
      <th style = "text-align: right;">Domestic Migration</th>
      <th style = "text-align: right;">International Migration</th>
      <th style = "text-align: right;">Net Growth</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Alaska</td>
      <td style = "text-align: right;">8,914</td>
      <td style = "text-align: right;">5,719</td>
      <td style = "text-align: right;">3,195</td>
      <td style = "text-align: right;">-5,124</td>
      <td style = "text-align: right;">5,051</td>
      <td style = "text-align: right;">3,122</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Oregon</td>
      <td style = "text-align: right;">38,225</td>
      <td style = "text-align: right;">44,598</td>
      <td style = "text-align: right;">-6,373</td>
      <td style = "text-align: right;">-6,157</td>
      <td style = "text-align: right;">24,248</td>
      <td style = "text-align: right;">11,718</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Washington</td>
      <td style = "text-align: right;">80,879</td>
      <td style = "text-align: right;">69,194</td>
      <td style = "text-align: right;">11,685</td>
      <td style = "text-align: right;">-2,661</td>
      <td style = "text-align: right;">69,614</td>
      <td style = "text-align: right;">78,638</td>
    </tr>
    <tr class="tufte-table tr"><td style = "font-weight: bold; text-align: left;">Total</td>
      <td style = "font-weight: bold; text-align: right;">128,018</td>
      <td style = "font-weight: bold; text-align: right;">119,511</td>
      <td style = "font-weight: bold; text-align: right;">8,507</td>
      <td style = "font-weight: bold; text-align: right;">-13,942</td>
      <td style = "font-weight: bold; text-align: right;">98,913</td>
      <td style = "font-weight: bold; text-align: right;">93,478</td>
    </tr>
  </tbody>
</table>
