<table class="tufte-table">
  <thead>
    <tr class="tufte-table tr header headerLastRow">
      <th style = "text-align: left;">State</th>
      <th style = "text-align: right;">Births</th>
      <th style = "text-align: right;">Deaths</th>
      <th style = "text-align: right;">Natural Growth</th>
      <th style = "text-align: right;">Domestic Migration</th>
      <th style = "text-align: right;">International Migration</th>
      <th style = "text-align: right;">Net Growth</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Arkansas</td>
      <td style = "text-align: right;">35,213</td>
      <td style = "text-align: right;">37,855</td>
      <td style = "text-align: right;">-2,642</td>
      <td style = "text-align: right;">9,944</td>
      <td style = "text-align: right;">8,164</td>
      <td style = "text-align: right;">18,108</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Louisiana</td>
      <td style = "text-align: right;">54,682</td>
      <td style = "text-align: right;">52,339</td>
      <td style = "text-align: right;">2,343</td>
      <td style = "text-align: right;">-31,716</td>
      <td style = "text-align: right;">22,150</td>
      <td style = "text-align: right;">-9,566</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "text-align: left;">Oklahoma</td>
      <td style = "text-align: right;">47,872</td>
      <td style = "text-align: right;">47,976</td>
      <td style = "text-align: right;">-104</td>
      <td style = "text-align: right;">23,370</td>
      <td style = "text-align: right;">15,739</td>
      <td style = "text-align: right;">39,109</td>
    </tr>
    <tr class="tufte-table tr"><td style = "text-align: left;">Texas</td>
      <td style = "text-align: right;">387,636</td>
      <td style = "text-align: right;">241,441</td>
      <td style = "text-align: right;">146,195</td>
      <td style = "text-align: right;">133,372</td>
      <td style = "text-align: right;">272,711</td>
      <td style = "text-align: right;">406,083</td>
    </tr>
    <tr class="tufte-table tr odd-row"><td style = "font-weight: bold; text-align: left;">Total</td>
      <td style = "font-weight: bold; text-align: right;">525,403</td>
      <td style = "font-weight: bold; text-align: right;">379,611</td>
      <td style = "font-weight: bold; text-align: right;">145,792</td>
      <td style = "font-weight: bold; text-align: right;">134,970</td>
      <td style = "font-weight: bold; text-align: right;">318,764</td>
      <td style = "font-weight: bold; text-align: right;">453,734</td>
    </tr>
  </tbody>
</table>
